<div class="jumbotron">
    <div class="container">
        <h1>Películas</h1>
        <nav *ngIf="this.authService.isUserLoged()">
            <a [routerLink]="['/']" routerLinkActive="active">Búsqueda</a>
            <a *ngIf="this.authService.isUserLogedAdmin()" [routerLink]="['/usersList']" routerLinkActive="active">Usuarios</a>
            <a [routerLink]="['/locs']" routerLinkActive="active">Localizaciones</a>
            <a [routerLink]="['/types']" routerLinkActive="active">Tipos</a>
            <a [routerLink]="['/login']">Cerrar sesión</a>
        </nav>
        <span *ngIf="authService.isUserLoged()" class="pull-right">Conectado como {{authService.getCurrentUserName()}}</span>
    </div>
</div>
<router-outlet></router-outlet>