<ul *ngIf="this.authService.isUserLoged()" class="nav nav-tabs"> 
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['/search']">Búsqueda</a></li>  
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['/locs']">Localizaciones</a></li>
  <li role="presentation" routerLinkActive="active"><a [routerLink]="['/types']">Tipos</a></li>
  <li role="presentation" routerLinkActive="active" *ngIf="this.authService.isUserLogedAdmin()"><a  [routerLink]="['/usersList']" >Usuarios</a></li>
  <li role="presentation" class="pull-right"><a [routerLink]="['/login']">Cerrar sesión '{{authService.getCurrentUserName()}}'</a></li>
</ul>

<router-outlet></router-outlet>