<div class="container">
    <h3>Búsqueda de peliculas</h3>

    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="panel-body">
                <div class="input-group">

                    <input type="text" class="form-control" placeholder="Search for..." #searchInput (keyup)="search(searchInput.value)">
                    <span class="input-group-addon glyphicon glyphicon-search">                    
                    </span>

                </div>
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="panel-body">
                 <tr *ngFor="let item of items$ | async">
                    <td>{{item.title}}</td>
                    <td>{{item.locationName}}</td>
                    <td>{{item.typeName}}</td>
                </tr>
            </div>
        </div>
    </div>
</div>